name: Run MATLAB Script on Self-Hosted Runner
on: [push]
jobs:
  my-job:
    name: Run MATLAB Script
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Run script
        uses: matlab-actions/run-command@v1
        env:
          ThingSpeakAPIKEY: ${{ secrets.ThingTweetAPIKEY }}
        with:
          command: tweetRanking_JP
